extends layout

block content
  h1= title
  ul.nav.nav-pills.nav-stacked
    li
      a(href='/orders') Ebay orders
    li
      a(href='/amazon') Amazon orders
    li
      a(href='/walmart') Walmart orders
