doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/jquery.jqplot.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-3.1.1.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/handlebars.min.js')
        script(src='/javascripts/moment.min.js')
        script(src='/javascripts/jquery.jqplot.min.js')
        script(src='/javascripts/jqplot.pieRenderer.js')
    body
        block content
