extends layout
block content
    h1= title
    table.table.table-hover
        thead
            th Order ID:
            th Order status:
            th Date created:
            th Adjustment Amount:
            th Amount Paid:
            th Items:
            th Ebay Payment Status:
            th Payment Status:
            th Date paid:
            th Total:
            th Address:
        tbody#result
            include templates/ebay-orders-list.hbs
    .modal