extends layout
block content
    .row
        .col-md-5
            h1= title
        .col-md-3
        .col-md-4
    table.table.table-hover
        thead
            th Order Date:
            th Order ID:
            th Title:
            th ASIN/ISBN:
            th Shipment Date:
            th Quantity:
            th Purchase Price Per Unit:
            th Item Total:
        tbody#result
            include templates/walmart-orders-list.hbs
    .modal